/* Define variables for your colors */
:root {
  --color-shades-dark: rgb(25, 25, 25);
  --color-shades-light: rgb(165, 167, 175);
  --color-highlight: rgb(24, 54, 145);
}

/* Use the alternative box model */
* { 
  box-sizing: border-box; 
}

h1 {
  margin: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 36em;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1em;
  min-height: 400px;
  position: relative;
}